@import './Card/Card';

.games {
	grid-area: main;

	.games__list {
		display: flex;
        justify-content: space-around;
		flex-wrap: wrap;
		gap: 40px;
		margin-top: 40px;
	}
}

@media (width <= 768px) {
  
	.games {
        // position: relative;
        overflow-y: hidden;

        h1 {
            position: sticky;
            top: 0;
            left: 0;
        }

		.games__list {
			flex-wrap: unset;
            margin-top: 20px;
		}
	}
}
