body {
	// color-scheme: light dark;
	background: var(--bg-body);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	margin-top: 40px;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	gap: 40px;
	align-items: start;
	grid-auto-rows: min-content min-content 1fr;
	grid-auto-columns: min-content min-content 1fr;
}

// @media (prefers-color-scheme: light) {
// 	:root {
// 		color: #213547;
// 		background-color: #ffffff;
// 	}
// 	a:hover {
// 		color: #747bff;
// 	}
// 	button {
// 		background-color: #f9f9f9;
// 	}
// }
