:root {
	--bg-body: #10141f;
	--bg-navbar: #161d2f;
	--headings-color: #d4d4d4;
	--font-color: #fafafa;
	--font-color-hover: #8c91f2;
	--tag: #646cff;
	--tag-hover: #8c91f2;
	--bg-buttons: #2F3B59;
	
}

.light {
	--bg-body: #f1f1f1;
	--bg-navbar: #dbdbdb;
	--headings-color: #10141f;
	--font-color: #161d2f;
	--tag: #6146af;
	--tag-hover: #46386f;
	--bg-buttons: #dbdbdb;
}
