@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: 'Nunito', sans-serif;
	font-size: 8px;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	color: var(--headings-color);
	font-weight: bold;
}

p {
	color: var(--font-color);
	font-size: 2rem;
	line-height: 1.04;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.25rem;

	&:hover {
		color: var(--font-color-hover);
	}
}

h3 {
	font-size: 2rem;
	line-height: 1.04;
}

h1,
h2 {
	line-height: 1.08;
}

.card {
	font-size: 2rem;
	color: var(--font-color);

	.card__suggestions {
		font-weight: bold;
	}

	a.card__tag {
		color: var(--tag);

		&:hover {
			color: var(--tag-hover);
		}
	}
}

.navbar {
	font-size: 3rem;
}

.filter__button {
	cursor: pointer;
	background-color: inherit;
	font-size: 3rem;

	&:hover {
		color: var(--font-color-hover);
	}

	&.active {
		color: var(--tag);
	}

	> * {
		pointer-events: none;
	}

	&-delete {
		font-size: 2.5rem;
	}
}

@media screen and (width <=768px) {
}
