.sort {
	grid-area: sort;
	display: flex;
    align-items: center;
	gap: 16px;

	& .sort__type {
		display: flex;
        align-items: center;
		gap: 16px;
		border-radius: 16px;
		padding: 4px;
		color: var(--font-color);
        background-color: var(--bg-buttons);
        


        & button {
            cursor: pointer;
			 background-color: var(--bg-buttons);
			 

			> * {
				pointer-events: none;
			}
        }
	}
}
