.navbar {
  grid-area: navbar;
  width: 60px;
  height: 80vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  background-color: var(--bg-navbar);
  color: var(--font-color);

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 30px;
    &:hover {
      color: var(--tag-hover);
    }
  }

  a {
    :hover {
      color: var(--tag-hover);
    }
    .active {
      color: var(--tag);
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
    position: fixed;
    height: 10vh;
    width: 250px;
    top: 80vh;
    left: 50%;
    align-items: center;
    z-index: 9999;
    transform: translateX(-50%);
    
    


    &__icons {
      flex-direction: row;
      margin-top: 0px;
      margin-right: 20px;
    }

    button {
    margin-bottom: 0;
      
    }
  }
}

// @media only screen and (min-width: 769px) and (max-width: 1200px) {
//   .navbar {
//     flex-direction: row;
//     justify-content: center;
//     position: fixed;
//     height: 10vh;
//     width: 250px;
//     top: 80vh;
//     left: 50%;
//     align-items: center;
//     z-index: 9999;
//     transform: translateX(-50%);

//     &__icons {
//       flex-direction: row;
//       margin-top: 0px;
//       margin-right: 20px;
//     }

//     button {
//   margin-bottom: 0;
      
//     }
//   }
// }
