.navbar {
  grid-area: navbar;
  width: 60px;
  height: 80vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  background-color: var(--bg-navbar);
  color: var(--font-color);

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 30px;
    &:hover {
      color: var(--tag-hover);
    }
  }

  a {
    :hover {
      color: var(--tag-hover);
    }
    .active {
      color: var(--tag);
    }
  }
}
