.filters {
	grid-area: filters;
	display: flex;
	align-items: center;
	gap: 16px;

	.filters__platforms {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		bottom: 8px;
		right: 8px;
		padding: 8px;
		border-radius: 32px;
		background-color: hsla(224, 32%, 9%, 0.75);

		color: var(--font-color);

		svg {
			pointer-events: none;
		}
	}
}
