/* RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, button, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET CSS */
body {
  background: var(--bg-body);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}

:root {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: var(--headings-color);
  font-weight: bold;
}

p {
  color: var(--font-color);
  font-size: 14px;
  line-height: 1.04;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 1.04;
}

h1,
h2 {
  line-height: 1.08;
}

a.card__tag {
  color: var(--tag);
}
a.card__tag:hover {
  color: var(--tag-hover);
}

.dark {
  --bg-body: #10141f;
  --bg-navbar: #161d2f;
  --headings-color: #d4d4d4;
  --font-color: #fafafa;
  --tag: #646cff;
  --tag-hover: #8c91f2;
}

.light {
  --bg-body: #f1f1f1;
  --bg-navbar: #dbdbdb;
  --headings-color: #10141f;
  --font-color: #161d2f;
  --tag: #6146af;
  --tag-hover: #46386f;
}

.container.news {
  display: grid;
  grid-template-areas: "navbar search search" "navbar sort filters" "navbar main main";
}

.container.game {
  grid-template-areas: "navbar game" "navbar game" ". game";
}

.games {
  grid-area: main;
  background-color: rgb(255, 176, 5);
}

.filters {
  grid-area: filters;
  background-color: blue;
}

.game {
  grid-area: game;
  background-color: red;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-top: 3vh;
}
.navbar--dark {
  background-color: #161d2f;
  color: rgb(255, 255, 255);
}
.navbar--light {
  background-color: white;
  color: #161d2f;
}
.navbar {
  grid-area: navbar;
  width: 11.5107913669vh;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: fixed;
  left: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3vh;
}
.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 2.5vh;
  transition: 0.3s;
}

.search {
  grid-area: search;
  background-color: yellow;
}

.sort {
  grid-area: sort;
  background-color: greenyellow;
}/*# sourceMappingURL=index.css.map */